{{ define "header"}}
{{partialCached "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">
    <!-- Begin Article
        ================================================== -->
    <div style="display:flex; justify-content: center;">

        {{ if eq .Params.categoryEn "Health" }}
        <script type="text/javascript">
            amzn_assoc_ad_type = "banner";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_placement = "assoc_banner_placement_default";
            amzn_assoc_campaigns = "health";
            amzn_assoc_banner_type = "category";
            amzn_assoc_p = "48";
            amzn_assoc_isresponsive = "false";
            amzn_assoc_banner_id = "0G5GGJ1N5H018KBVX3R2";
            amzn_assoc_width = "728";
            amzn_assoc_height = "90";
            amzn_assoc_tracking_id = "everypage-20";
            amzn_assoc_linkid = "e95e2c641bcad877c0521bc70d1632fa";
        </script>
        <script
            src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>

        {{ else }}

        <script type="text/javascript">
            amzn_assoc_ad_type = "banner";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_placement = "assoc_banner_placement_default";
            amzn_assoc_campaigns = "health";
            amzn_assoc_banner_type = "category";
            amzn_assoc_p = "48";
            amzn_assoc_isresponsive = "false";
            amzn_assoc_banner_id = "0G5GGJ1N5H018KBVX3R2";
            amzn_assoc_width = "728";
            amzn_assoc_height = "90";
            amzn_assoc_tracking_id = "everypage-20";
            amzn_assoc_linkid = "e95e2c641bcad877c0521bc70d1632fa";
        </script>
        <script
            src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>

        {{ end }}
    </div>

    <div class="container">
        <div class="row">
            <!-- Post Share -->
            <div class="col-md-2 pl-0">
                {{- partial "single-partials/share.html" . -}}
            </div>
            <!-- Post -->

            <div style="display:flex; justify-content: center;">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "health";
                    amzn_assoc_banner_type = "category";
                    amzn_assoc_p = "290";
                    amzn_assoc_isresponsive = "false";
                    amzn_assoc_banner_id = "1HAR195G76KEBVJB48R2";
                    amzn_assoc_width = "320";
                    amzn_assoc_height = "250";
                    amzn_assoc_tracking_id = "everypage-20";
                    amzn_assoc_linkid = "87b1f424666719ec6bfec7e0e0d948e1";
                </script>
                <script
                    src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>


            <div class="col-md-9 flex-first flex-md-unordered">
                <div class="mainheading">
                    <!-- Post Title -->
                    <h1 class="posttitle">{{ .Title }}</h1>
                </div>

                <!-- Post Featured Image -->
                <img class="featured-image img-fluid" src="{{index .Params.images 0}}" alt="thumbnail for this post">

                <!-- End Featured Image -->

                <div style="display:flex; justify-content: center;">
                    <script type="text/javascript">
                        amzn_assoc_ad_type = "banner";
                        amzn_assoc_marketplace = "amazon";
                        amzn_assoc_region = "US";
                        amzn_assoc_placement = "assoc_banner_placement_default";
                        amzn_assoc_campaigns = "health";
                        amzn_assoc_banner_type = "category";
                        amzn_assoc_p = "12";
                        amzn_assoc_isresponsive = "false";
                        amzn_assoc_banner_id = "1PTP82R3F38BZ6MY2VR2";
                        amzn_assoc_width = "300";
                        amzn_assoc_height = "250";
                        amzn_assoc_tracking_id = "everypage-20";
                        amzn_assoc_linkid = "ff27f08b315b73d9609bf57bb27451b6";
                    </script>
                    <script
                        src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                </div>

                <!-- Post Content -->
                <div class="article-post">
                    {{ .Content}}
                </div>
                <div style="display:flex; justify-content: center;">
                    <script type="text/javascript">
                        amzn_assoc_ad_type = "banner";
                        amzn_assoc_marketplace = "amazon";
                        amzn_assoc_region = "US";
                        amzn_assoc_placement = "assoc_banner_placement_default";
                        amzn_assoc_campaigns = "health";
                        amzn_assoc_banner_type = "category";
                        amzn_assoc_p = "13";
                        amzn_assoc_isresponsive = "false";
                        amzn_assoc_banner_id = "037NYZG427Q5XAAC66G2";
                        amzn_assoc_width = "468";
                        amzn_assoc_height = "60";
                        amzn_assoc_tracking_id = "everypage-20";
                        amzn_assoc_linkid = "5f8e6319b988ea9b14ca8e61f35c9418";
                    </script>
                    <script
                        src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                </div>
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {{ range .Params.tags }}
                        <li>
                            <a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <!-- End Categories -->

                <!-- Next and PrevPage inside current section -->
                <div class="row listrecent">
                    {{with .NextInSection}}
                    {{- partial "list-partials/postbox.html" . -}}
                    {{end}}
                    {{with .PrevInSection}}
                    {{- partial "list-partials/postbox.html" . -}}
                    {{end}}
                    {{with .PrevInSection}}
                    {{with .PrevInSection}}
                    {{- partial "list-partials/postbox.html" . -}}
                    {{end}}
                    {{end}}
                    <div class="clearfix"></div>
                </div>
                <!-- End Next and PrevPage -->
            </div>
            <!-- End Post -->
        </div>
    </div>

    <div style="display:flex; justify-content: center;">
        <script type="text/javascript">
            amzn_assoc_ad_type = "banner";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_placement = "assoc_banner_placement_default";
            amzn_assoc_campaigns = "health";
            amzn_assoc_banner_type = "category";
            amzn_assoc_p = "290";
            amzn_assoc_isresponsive = "false";
            amzn_assoc_banner_id = "1HAR195G76KEBVJB48R2";
            amzn_assoc_width = "320";
            amzn_assoc_height = "250";
            amzn_assoc_tracking_id = "everypage-20";
            amzn_assoc_linkid = "87b1f424666719ec6bfec7e0e0d948e1";
        </script>
        <script
            src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div>
    <!-- End Article
        ================================================== -->
    {{ if .Params.comments }}
    {{- partial "single-partials/comments.html" . -}}
    {{ end }}
</div>
<div style="display:flex; justify-content: center;">
    <script type="text/javascript">
        amzn_assoc_ad_type = "banner";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_placement = "assoc_banner_placement_default";
        amzn_assoc_campaigns = "health";
        amzn_assoc_banner_type = "category";
        amzn_assoc_p = "290";
        amzn_assoc_isresponsive = "false";
        amzn_assoc_banner_id = "1HAR195G76KEBVJB48R2";
        amzn_assoc_width = "320";
        amzn_assoc_height = "250";
        amzn_assoc_tracking_id = "everypage-20";
        amzn_assoc_linkid = "87b1f424666719ec6bfec7e0e0d948e1";
    </script>
    <script
        src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>
{{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
{{- partial "_shared/jumbotron.html" . -}}
{{- partial "_shared/footer.html" . -}}
{{ end }}