<!-- Begin Footer
================================================== -->
{{ $lan := .Site.Params.lang }}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 text-center text-lg-left">
                <a href="/cookies-policy">Cookies Policy</a>
            </div>
            <div class="col-md-4 col-sm-4 text-center text-lg-left">
                <a href="/privacy-policy">Privacy Policy</a>
            </div>
            <div class="col-md-4 col-sm-4 text-center text-lg-left">
                <a href="/terms-of-use">Terms Of Use</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; Copyright {{ .Site.Copyright }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                Information for everyone.
            </div>
        </div>

    </div>
</footer>
<!-- End Footer
================================================== -->
